<h1><%= @game.title %></h1>
<p><%= @game.display_date %></p>

<%= link_to 'Record Film Comments', 'javascript:void(0);', id: 'js-record-film', class: 'btn btn-primary' %>
<div id="js-record-controls" style="display: none; padding-top: 10px;">
  <%= link_to 'Start', 'javascript:void(0);', id: 'js-start-recording', class: 'btn btn-success' %>
  <%= link_to 'Stop', 'javascript:void(0);', id: 'js-stop-recording', class: 'btn btn-danger' %>
</div>

<br>
<%= link_to 'Games', games_path %>

<script type="text/javascript">
  $(function(){
    console.log("Loaded");
    $('#js-record-film').click(function() {
      $('#js-record-controls').toggle();
    })

    $('#js-start-recording').click(function() {
      console.log("Start Recording");
    })

    $('#js-stop-recording').click(function() {
      console.log("Stop Recording");
    })
  })
</script>
